<div class="wb-block wb-accordion wb-mb-4" id="accordion-{{ item.id|default(loop.index) }}">
    {% if item.wbAccordionItems %}
        {% for accordionItem in item.wbAccordionItems.all() %}
            <div class="wb-accordion-item">
                <button class="wb-accordion-trigger" type="button"
                        data-wb-toggle="accordion"
                        aria-expanded="false"
                        aria-controls="collapse-{{ accordionItem.id }}">
                    {{ accordionItem.wbTitle }}
                </button>
                <div id="collapse-{{ accordionItem.id }}" class="wb-accordion-body" hidden>
                    {{ accordionItem.wbText }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
