{% set placement = item.wbPopoverPlacement.value ?? item.wbPopoverPlacement ?? 'top' %}
{% set size = item.wbButtonSize.value ?? item.wbButtonSize ?? '' %}
{% set uid = 'wb-pop-' ~ item.id %}
<div class="wb-block mb-4">
    <button type="button"
        id="{{ uid }}"
        class="wb-btn wb-btn-secondary{% if size and size != 'md' %} wb-btn-{{ size }}{% endif %}"
        data-wb-popover
        data-wb-placement="{{ placement }}"
        {% if item.wbCaption %}data-wb-title="{{ item.wbCaption }}"{% endif %}
        data-wb-content="{{ item.wbText|default('')|striptags }}">
        {{ item.wbTitle ?? 'Click me' }}
    </button>
    <script>
    (function(){
        var el = document.getElementById('{{ uid }}');
        if (el && typeof WBPopover !== 'undefined') {
            new WBPopover(el);
        }
    })();
    </script>
</div>
